<h2 appRedEL>{{title}}</h2>

<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" formControlName="user" placeholder="Enter user name"/>
  <br>
    <span class="error" *ngIf="user && user.invalid && user.touched">{{userError}}</span>
  <br>
  <input type="password" formControlName="password" placeholder="Enter user password"/>
  <br>
    <span class="error" *ngIf="password && password.invalid && password.touched">Please enter password</span>
  <br>
  <button [disabled]="loginForm.invalid">Login</button>

</form>